<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false">
    <property name="BASE" value="/log"/>
    <!-- <property name="BASE" value="D://webservice/log"/> -->
	<property name="smtpHost" value="smtp.exmail.qq.com" />  
    <property name="smtpPort" value="465" />  
    <property name="username" value="zhouyou@chinacrossway.com" />  
    <property name="password" value="zhouyou" />   
    <property name="SSL" value="true" />  
    <property name="email_to" value="zhouyou@chinacrossway.com" /> 
    <property name="email_subject" value="【Error】: %logger" />
    
    <!-- 打印到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>
                %date %level [%thread] %10logger [%file:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE}/many.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${BASE}/many.%d{yyyy-MM-dd}.log.zip
            </fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date %level [%thread] %10logger [%file:%line] %msg%n
            </pattern>
        </layout>
    </appender>
    <appender name="FileError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE}/many-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${BASE}/many-error.%d{yyyy-MM-dd}.log.zip
            </fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date %level [%thread] %10logger [%file:%line] %msg%n
            </pattern>
        </layout>
    </appender>
 
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">  
        <smtpHost>${smtpHost}</smtpHost>  
        <smtpPort>${smtpPort}</smtpPort>  
        <username>${username}</username>  
        <password>${password}</password>  
        <SSL>${SSL}</SSL>  
        <asynchronousSending>false</asynchronousSending>  
        <to>${email_to}</to>  
        <from>${username}</from>  
        <subject>${email_subject}</subject>  
        <layout class="ch.qos.logback.classic.PatternLayout" >  
            <pattern> 
            	%date %level [%thread] %10logger [%file:%line] %msg%n
            </pattern>  
        </layout>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">    
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>      
        </filter>  
     </appender>  
    <!-- 把SQL语句输出到一个日志文件 -->
      <appender name="sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE}/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE}/sql.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date %level [%thread] %10logger [%file:%line] %msg%n
            </pattern>
        </layout>
    </appender>
    <!-- 在控制台打印SQL语句 -->
    <logger name="com.springboot.many.mapping.mapper" level="DEBUG">
    <appender-ref ref="sql"/>
    </logger>
    
    <logger name="java.sql.PreparedStatement">
        <level value="INFO"/>
    </logger>
    <logger name="java.sql.Connection">
        <level value="INFO"/>
    </logger>
    <logger name="java.sql.Statement">
        <level value="INFO"/>
    </logger>
    <logger name="java.sql.ResultSet">
        <level value="INFO"/>
    </logger>
    <logger name="org.mybatis">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="File"/>
        <appender-ref ref="FileError"/>
        <!--  加入email参数 -->
        <appender-ref ref="EMAIL"/>
    </root>
</configuration>