<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>404</title>
	<style> 
		body{ text-align:center} 
		.pic{width:521px; height:323px;position: absolute;text-align: center; left:0; right:0; top: -150px; bottom: 0; margin: auto;}
	</style> 
</head>
<body>
	<div>
		<!-- <img alt="404" src="/images/404.jpg"/><br/> -->
		<!-- <a href="javascript:history.go(-1)">点我返回啦</a> -->
		<a href="http://192.168.1.55:1111/tologin">点我返回啦</a>
		<h3 th:text="${error}"></h3>
	</div>
</body>
</html>