<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>用户登陆</title>
<link rel="stylesheet" type="text/css" href="../css/userLogin.css" />
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/layer/layer.js"></script>
</head>
<body>
	<section class="login">
		<div class="titulo">用户登录</div>
		<div class="form">
			<input id="username" type="text" title="Username required"
				placeholder="Username" data-icon="U" />
			<!-- <span th:text="${msg}" style="color: red;"></span> -->
			<input id="pwd" type="text" title="Password required"
				placeholder="Password" data-icon="x" />
			<div class="olvido">
				<div class="col">
					<a href="#" title="Ver Carásteres">注册</a>
				</div>
				<div class="col">
					<a href="#" title="Recuperar Password">忘记密码?</a>
				</div>
			</div>
			<input type="button" class="enviar" value="登录" id="submit" />
		</div>
	</section>
	<script type="text/javascript">
	$(function() { 
		$("#submit").click(function() {   
			var username=$("#username").val();
			var pwd=$("#pwd").val();
			//ajax 异步请求，发送数据给后端，后端在把数据传给前端
		    $.ajax({  
		        type : 'POST',  
		        dataType : 'json',    
		        url : '/login',  
		        
		       /*  data 存储数据发送给后端 */
		        data : {
					"username" : username,
					"pwd" : pwd
				},  
		        success :  function(data) {  
		        	if(isNull(data.error)){
			        	//接收后端发的数据内容，放在data中，只有当后端controllers中的
			        	//方法完整的运行结束之后才可以返回数据到data中
			            layer.msg(data.username+',登录成功'); 
			        	//添加登录后跳转页面的代码
						window.location.href = "user/indexInformation";
		        	}else{
		        		layer.msg(data.error);
		        	}
		        },  
		        error : function() {
		      		alert("Ajax:登录失败"); 
		        } ,  
		    }); 
		});
	});
		// 校验是否为空
		function isNull(value) {
		    if (value == undefined || value == null || value == "") {
		        return true;
		    } else {
		        return false;
		    }
		}
	</script>
</body>
</html>